# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
build/*
bld/
bin/*
Store-Daten/
!build/build.xml
*.swp
.DS_Store
Thumbs.db
AppPackages/
