<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-img src="{{global.logo}}" width="40" height="40" class="button-icon-right"></ion-img>
            <ion-img src="{{global.slogan}}" width="136" height="40" class="button-icon-right"></ion-img>
        </ion-title>
    </ion-navbar>
    <ion-toolbar primary no-border-top>
        <ion-title><ion-img *ngIf="global.logo_auftrittsplan" width="25" height="30" src="{{global.logo_auftrittsplan}}"></ion-img>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="auftrittsplan">
    <ion-list>
        <ion-item *ngFor="let termin of auftrittsplan">
            <ion-icon name="calendar" item-left></ion-icon>
            <h4>{{termin.title}}</h4>
            <p>{{global.convertISO8601toDate(termin.datetime)}} | {{termin.location_simple}}</p>
            <p>{{termin.bodytext}}</p>
        </ion-item>
    </ion-list>
</ion-content>
