<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-img src="{{global.logo}}" width="40" height="40" class="button-icon-right"></ion-img>
            <ion-img src="{{global.slogan}}" width="136" height="40" class="button-icon-right"></ion-img>
        </ion-title>
    </ion-navbar>
    <ion-toolbar primary no-border-top>
        <ion-title><ion-img *ngIf="global.logo_mitglieder" logo width="25" height="25" src="{{global.logo_mitglieder}}"></ion-img>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="mitglieder">
    <ion-searchbar (ionInput)="searchMitglieder($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let mitglied of mitgliederFilter">
            <ion-avatar item-left>
                <img src="images/prinzengarde_outline_gold.png"> <!--{{mitglied.image}}-->
            </ion-avatar>
            <h3>{{mitglied.lastName}}, {{mitglied.firstName}}</h3>
            <p *ngIf="mitglied.email" style="padding: 4px 0;"><ion-icon md="md-mail" style="margin-right: 10px;"></ion-icon> {{mitglied.email}}</p>
            <p *ngIf="mitglied.telephone" style="padding: 4px 0;"><ion-icon md="md-call" style="margin-right: 10px;"></ion-icon> {{mitglied.telephone}}</p>
        </ion-item>
    </ion-list>
</ion-content>
